* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hi {
    position: relative;
    transition: all 1s linear;
}

.google {
    border-top: 40px red solid;
    border-bottom: 40px green solid;
    border-left: 40px yellow solid;
    border-right: 40px blue solid;
    padding: 100px;
    border-radius: 100%;
}

.google::before {
    content: "";
    height: 40px;
    width: 140px;
    background-color: blue;
    position: absolute;
    right: 2px;
    top: 125px;
}

.google::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: -18px;
    right: -18px;
    border-top: 143px solid transparent;
    border-right: 143px solid black;
}

.hi:hover {
    transform: rotate(360deg);
}